@charset "UTF-8";
body {
  font-size: 15px;
  line-height: 1.2em;
  -webkit-text-size-adjust: none;
  font-family: '맑은 고딕',"Malgun Gothic","돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
  background-color: #fff; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img, fieldset {
  border: 0; }

ul, ol, li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  color: #222; }

em, i, address {
  font-style: normal;
  font-weight: normal; }

legend, caption {
  clear: both;
  display: none; }

input, textarea, select, button, table {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }

table {
  border-collapse: collapse; }

textarea {
  resize: none; }

button, label {
  cursor: pointer; }

a:visited, a:hover, a:active {
  color: #222; }

input, textarea, button, select {
  border: 0;
  background: 0 0;
  outline: none; }

input, textarea, button {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none; }

/*-webkit-appearance:none;*/
/* common */
.skipNav, .hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.cancelHighlight a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.site-header {
  padding: 2rem;
  font-size: 1.8rem; }
  @media only screen and (min-width: 1024px) {
    .site-header {
      padding-top: 4rem;
      font-size: 2.4rem; } }

input.placeholder, textarea.placeholder {
  color: #999; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }

.loginForm .idBox, .loginForm .pwBox, .loginForm .captchaBox {
  position: relative; }

#header {
  position: relative;
  padding: 80px 0 40px 0; }
  #header .logo_nate {
    display: block;
    margin: 0 auto;
    color: transparent;
    background-image: url(sprite-2x.png);
    background-position: 0px 0px;
    width: 142px;
    height: 42px; }

#footer {
  clear: both;
  margin: 80px 0 40px 0;
  overflow: hidden; }
  #footer::before {
    display: block;
    clear: both;
    content: ''; }
  #footer > p {
    text-align: center; }
    #footer > p > a, #footer > p span {
      display: inline-block;
      font-size: 12px;
      color: #777; }
    #footer > p .bar {
      position: relative;
      top: -2px;
      display: inline-block;
      margin: 0 7px;
      font-size: 11px;
      color: #dadada; }
  #footer .copyright {
    display: block;
    margin: 5px 0 0 0;
    font-size: 12px;
    text-align: center;
    color: #777; }
    #footer .copyright > strong {
      color: #222; }

.wrap {
  position: relative; }
  @media (min-width: 768px) {
    .wrap {
      max-width: 460px;
      margin: 0 auto; } }
  .wrap .content {
    padding: 0 25px; }

.loginForm .cBox {
  position: relative;
  margin: 0 0 15px;
  background: #fff; }
  .loginForm .cBox .innerbox {
    position: relative;
    display: block;
    padding: 5px 12px 4px 0;
    border-bottom: 1px solid #333; }
    .loginForm .cBox .innerbox .ipt {
      width: 100%;
      height: 18px;
      padding: 7px 0 6px;
      font-size: 16px;
      line-height: 18px;
      color: #000;
      border: 0;
      background: #fff; }

.loginForm .cBox.msg .innerbox {
  border-bottom: 1px solid #ed2823; }

.captcha .captchaBox {
  position: relative;
  height: 46px;
  margin: 10px 0; }
  .captcha .captchaBox .ctBox {
    display: block;
    padding-right: 112px;
    text-align: center; }
    .captcha .captchaBox .ctBox > span {
      display: block;
      line-height: 46px;
      border: 1px solid #dadada;
      background-color: #fff; }
      .captcha .captchaBox .ctBox > span > img {
        text-align: center;
        vertical-align: middle; }
  .captcha .captchaBox .ccBtn {
    position: absolute;
    top: 0;
    right: 0; }
    .captcha .captchaBox .ccBtn > a {
      float: left;
      width: 46px;
      height: 46px;
      margin-left: 8px;
      border: 1px solid #dadada;
      color: transparent; }
      .captcha .captchaBox .ccBtn > a.reflesh {
        background-image: url(sprite-2x.png);
        background-position: -146px 0px;
        width: 46px;
        height: 46px; }
      .captcha .captchaBox .ccBtn > a.c_sound {
        background-image: url(sprite-2x.png);
        background-position: -50px -74px;
        width: 46px;
        height: 46px; }
      .captcha .captchaBox .ccBtn > a.c_txt {
        background-image: url(sprite-2x.png);
        background-position: 0px -74px;
        width: 46px;
        height: 46px; }

.captcha.sound .captchaBox .ctBox > span {
  padding: 5px 0 0 5px;
  border: 0;
  background: none;
  font-size: 14px;
  color: #222;
  text-align: left;
  line-height: 1.3; }

.captcha .cBox > .innerbox {
  padding-right: 90px; }
  .captcha .cBox > .innerbox .captchaChk {
    position: absolute;
    top: 11px;
    right: 12px; }
    .captcha .cBox > .innerbox .captchaChk.agree {
      color: #49ba7c; }
      .captcha .cBox > .innerbox .captchaChk.agree:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(sprite.png);
        background-position: -73px -49px;
        width: 11px;
        height: 7px;
        top: 5px;
        left: -15px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .captcha .cBox > .innerbox .captchaChk.agree:before {
            background-image: url(sprite-2x.png);
            background-size: 96px 84px; } }
    .captcha .cBox > .innerbox .captchaChk.disagree {
      color: #ed2823; }
      .captcha .cBox > .innerbox .captchaChk.disagree:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(sprite.png);
        background-position: -68px -37px;
        width: 2px;
        height: 11px;
        top: 3px;
        left: -13px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .captcha .cBox > .innerbox .captchaChk.disagree:before {
            background-image: url(sprite-2x.png);
            background-size: 96px 84px; } }

.warning {
  position: relative;
  display: block;
  margin: -5px 0 35px 0;
  letter-spacing: -0.05em;
  line-height: 17px;
  font-size: 13px;
  color: #ed2823; }
  .warning.t2 {
    margin: 0 0 30px 0;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    text-align: center; }
    .warning.t2 em {
      color: #ed2823; }
  .warning .moreinfo {
    position: relative;
    display: block;
    margin: 8px 0 0 0;
    padding-left: 20px;
    text-decoration: underline;
    color: #777; }
    .warning .moreinfo:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(sprite.png);
      background-position: -50px -37px;
      width: 16px;
      height: 16px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .warning .moreinfo:before {
          background-image: url(sprite-2x.png);
          background-size: 96px 84px; } }

.btn_login {
  display: block;
  width: 100%;
  height: 56px;
  margin: 45px 0 0 0;
  font-size: 17px;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  background-color: #ed2823;
  text-align: center; }

.checkBox {
  position: relative;
  padding: 15px 0 25px 0;
  border-bottom: 1px solid #dddde0; }
  .checkBox .checkLogin .chkbox {
    position: relative;
    display: block;
    height: 24px; }
    .checkBox .checkLogin .chkbox .chk-ipt {
      position: absolute;
      top: 1px;
      left: 2px;
      width: 22px;
      height: 22px;
      cursor: pointer; }
    .checkBox .checkLogin .chkbox .chk-ipt:checked + label:before, .checkBox .checkLogin .chkbox .chk-ipt:checked + label.on:before {
      background-image: url(sprite-2x.png);
      background-position: -118px -124px;
      width: 24px;
      height: 24px; }
    .checkBox .checkLogin .chkbox .chk-label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      padding-left: 32px;
      cursor: pointer;
      color: #333;
      border: 1px solid #fff;
      background-color: #fff; }
      .checkBox .checkLogin .chkbox .chk-label:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(sprite-2x.png);
        background-position: -90px -124px;
        width: 24px;
        height: 24px; }
  .checkBox .checkLogin .l_notice {
    position: absolute;
    top: 45px;
    left: 0;
    width: 275px;
    height: 46px;
    padding: 10px 0 0 12px;
    font-family: '돋움', dotum;
    font-size: 12px;
    letter-spacing: -1px;
    color: #222;
    border: 1px solid #aaa;
    background-color: #fff;
    z-index: 9; }
    .checkBox .checkLogin .l_notice .btn_check_help {
      display: block;
      color: #ed2823; }
  .checkBox .ipchk {
    position: absolute;
    top: 18px;
    right: 0;
    display: block; }
    .checkBox .ipchk .ip {
      font-size: 14px;
      letter-spacing: -0.05em; }
      .checkBox .ipchk .ip > em {
        color: #ff654b;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        color: #222; }
        .checkBox .ipchk .ip > em.one {
          color: #222; }
        .checkBox .ipchk .ip > em.two {
          color: #222; }
        .checkBox .ipchk .ip > em.three {
          color: #ed2823; }

.addSvcBtn {
  margin: 10px 0 40px 0;
  text-align: center; }
  .addSvcBtn > a {
    display: inline-block;
    color: #222;
    letter-spacing: -0.05em;
    font-size: 14px;
    line-height: 15px; }
  .addSvcBtn .bar {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 12px;
    font-size: 11px;
    color: #ceced3; }

.adBox {
  display: block;
  text-align: center; }
